$prmCol: #FF6000;
$secCol: #FF006F;

$terCol: #000;

@font-face {
    font-family: 'outrunLight';
    src: url(../static/fonts/Outrun_future.otf) format('woff2');
}
@font-face {
    font-family: 'radjaniLight';
    src: url(../static/fonts/Rajdhani_Light.ttf) format('woff2');
}
@font-face {
    font-family: 'radjaniMedium';
    src: url(../static/fonts/Rajdhani_Medium.ttf) format('woff2');
}
@font-face {
    font-family: 'radjaniBold';
    src: url(../static/fonts/Rajdhani_Bold.ttf) format('woff2');
}


.home{
    background: $terCol;
    overflow: hidden;
    font-family: radjaniMedium;
    .backgroundm1{
        position: absolute;
        top: 500vh;
        left: 0;
        z-index: 0;
        >*{
            z-index: 0;
        }
    }
    .navigation{
        height: 6vh;
        background-color: $prmCol;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 4;
        line-height: 15px;
        .firstItem{
            display: flex;
            align-items: center;
            img{
                height: 30px;
                width: 30px;
                margin-right: 5px;
            }
            color: white;
            margin-right: 60px;
        }
        .secondItem{
            color: white;
            margin-right: 60px;
            span{font-size: 12px;}
        }
        .thirdItem{
            color: white;
            margin-right: 60px;
            span{font-size: 12px;}
        }
        .fourthItem{
            color: white;
            margin-right: 200px;
            span{font-size: 12px;}
            font-family: outrun;
        }
        .button{
            color: white;
            margin-right: 60px;
            border: 1px solid #fff;
            border-radius: 5px;
            padding: 5px 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            div{
                width: 10px;
                height: 10px;
                background-color: #fff;
                border-radius: 50%;
                margin: 0 5px;
            }
        }
    }
    .header{
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        color: #fff;
        video{
            position: absolute;
            right: -20vw;
            top: -20vh;
            width: 100%;
            //height: 80vh;
        }
        .bannerPar{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .banner{
                z-index: 5;
                position: absolute;
                bottom: 3vh;
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 80%;
                    height: 15vh;
                }
            }
        }
        .dataPar{
            position: absolute;
            left: 10.5vw;
            top: 25vh;
            .caption{
                font-size: 56px;
                span{
                    font-weight: 800;
                    color: $prmCol;
                }
            }
            $w1: 23vw;
            .text{
                width: $w1;
                font-size: 20px;
                span{
                    color: $secCol;
                    font-weight: 700;
                }
            }
            .buttonPar{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: $w1;
                margin-top: 5vh;
                >div{
                    width: 10vw;
                    border-radius: 5px;
                    font-weight: 600;
                    text-align: center;
                    padding: 8px 0;
                }
                .button1{
                    background-color: #fff;
                    color: $prmCol;
                }
                .button2{
                    background-color: $prmCol;
                    color: #fff;
                }
            }
        }
    }
    .subHeader{
        position: relative;
        width: 100vw;
        height: 70vh;
        background-color: #000;
        color: #fff;
        video{
            width: 35vw;
            height: 35vw;
            margin: auto 0;
        }
        .dataPar{
            position: absolute;
            right: 15vw;
            top: 10vh;
            text-align: right;
            .caption{
                font-size: 42px;
                span{
                    font-weight: 600;
                    color: $prmCol;
                }
            }
            .text{
                font-size: 32px;
                span{
                    color: $secCol;
                    font-weight: 700;
                }
            }
        }
        .cardsPar{
            position: absolute;
            right: 15vw;
            top: 30vh;
            display: flex;
            flex-direction: row;
            .card{
                width: 13vw;
                border: 5px solid #fff;
                border-radius: 20px;
                padding: 15px 10px;
                color: #fff;
                margin: 0 0.5vw;
                .caption{
                    font-size: 20px;
                    font-weight: 700;
                }
                .text{
                    font-size: 14px;

                }
                .more{
                    text-align: right;
                    color: $secCol;
                    font-weight: 700;
                }
            }
        }
    }
    .bodyCaption{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        position: relative;
        //background-image: url('../static/images/Flare-1.jpg');
        .background{
            width: 100vw;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            img{
                z-index: -1;
                width: 100%;
                height: 100%;
            }
        }
        .cap1{
            z-index: 2;
            font-size: 32px;
            font-weight: 600;
        }
        .cap2{
            z-index: 2;
            font-size: 24px;
            font-weight: 700;
            margin-top: 5vh;
            span{
                color: $prmCol;
            }
        }
    }
    .trendingCardsPar{
        position: relative;
        $wid1: 14vw;
        .trendingCardsScroller{
            display: flex;
            flex-direction: row;
            //justify-content: center;
            margin-top: 5vh;
            margin-left: $wid1;
            padding-right: $wid1;
            //width: 150vw;
            .trendingCard{
                //width: 17vw;
                max-width: 16vw;
                min-width: 16vw;
                height: 23.5vw;
                margin: 0 0.5vw;
                border-radius: 20px;
                overflow: hidden;
                padding: 10px;
                border: 3px solid $prmCol;
                position: relative;
                img{
                    height: 100%;
                    width: 100%;
                    border-radius: 20px;
                }
                .dataPar{
                    height: 8vw;
                    width: 16vw;
                    position: absolute;
                    bottom: 20px;
                    left: 0;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    font-size: 14px;
                    .data{
                        width: 85%;
                        background-color: rgb(22,22,22, 0.8);
                        border-radius: 10px;
                        color: #fff;
                        .dataChild{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            //height: 70%;
                            .top{
                                display: flex;
                                flex-direction: row;
                                flex-grow: 1;
                                .left{
                                    display: flex;
                                    flex-direction: column;
                                    padding: 5px 15px;
                                    width: 70%;
                                    .type{color: #aaa;}
                                    .collection{
                                        color: #aaa;
                                        margin: auto 0 5% 0;
                                        text-align: right;
                                    }
                                }
                                .right{
                                    padding: 5px 15px;
                                    width: 30%;
                                    display: flex;
                                    flex-direction: column;
                                    border-left: 1px solid #999;
                                    color: #aaa;
                                    .value{
                                        color: #fff;
                                        display: flex;
                                    }
                                }
                            }
                            .bottom{
                                padding: 5px 15px;
                                font-size: 10px;
                                margin-top: auto;
                                border-top: 1px solid #999;
                                span{
                                    color: #aaa;
                                    //margin-right: 10px;
                                    &.logo{
                                        margin-left: 2.5vw;
                                        img{
                                            height: 15px;
                                            width: 15px;
                                            margin-bottom: -5px;
                                            margin-right: 5px;
                                        }
                                    }
                                    &.logoName{
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            overflow-x: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            .ethLogo{
                margin-left: 5px;
                img{
                    height: 15px;
                    width: 15px;
                }
            }
        }
        .rightMask{
            height: 100%;
            //height: 24.5vw;
            width: 10vw;
            position: absolute;
            right: 0;
            top: 0;
            background-color: #000;// rgb(149, 0, 80, 0.2);
        }
    }

    .tropismCardsPar{
        $wid1: 22vw;
        position: relative;
        .cards{
            display: flex;
            flex-direction: row;
            //justify-content: center;
            margin-left: $wid1;
            padding-right: $wid1;
            overflow-x: scroll;
            .card{
                position: relative;
                background-color: bisque;
                margin: 1vw;
                border-radius: 40px;
                //width: 13vw;
                min-width: 12vw;
                max-width: 12vw;
                height: 18vw;
                overflow: hidden;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center; 
                img{
                    width: 13.8vw;
                    height: 21vw;
                    //border-radius: 40px;
                    object-fit: fill;
                    margin: auto;
                }
                .captionPar{
                    width: 90%;
                    height: 38%;
                    position: absolute;
                    bottom: 1%;
                    right: 5%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    background-color: rgb(22,22,22, 0.8);
                    clip-path: polygon(40% 0%, 60% 0, 100% 40%, 100% 60%, 60% 100%, 40% 100%, 0% 60%, 0% 40%);
                    .type{
                        // position: absolute;
                        // top: 60%;
                        // right: 30%;
                        //width: 200px;
                        //height: 100px;
                        //border: 3px solid #73AD21;
                        // margin: 1%;
                        color:white;
                        font-size: 14px;
                        line-height: 20%;
                    }
                    .data{
                        // position: absolute;
                        // top: 70%;
                        // right: 32%;
                        // margin: 1%;
                        font-size: 14px;
                        color:white;
                        // line-height: 20%;
                    }
                    .line{
                        // position: absolute;
                        // top: 82%;
                        // right: 10%;
                        // line-height: 300%;
                        height: 1px;
                        width: 60%;
                        background-color: $prmCol;
                    }
                    .logoPar{
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        // top: 85%;
                        // right: 70%;
                        .logo{
                            margin: 2px 0px;
                            // overflow: hidden;
                            // // top: 10%;
                            // // right: 100%;
                            img{
                                width: 40px;
                                height: 40px;
                            }
                        }
                        .logoName{
                            margin: 2px 2px;
                            font-size: 20px;
                            color: #aaa;
                            // overflow: hidden;
                            // // top: 10%;
                            // // right: 2%;
                        }
                    }
                }
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }
        .rightMask{
            height: 100%;
            //height: 24.5vw;
            width: $wid1;
            position: absolute;
            right: 0;
            top: 0;
            background-color: #000;// rgb(149, 0, 80, 0.2);
        }
    }

    .captionHead2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8vh;
        .mainTitle{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            .head{
                color: white;
                margin-right: 10px;
            }
            .title{
                color: orange;
            }
        }
        .longLine{
            margin-top: 10px;
            height: 3px;
            width: 90%;
            background-color: #414141;
        }
        .mainTitle{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 22px;
            font-weight: 600;
            .head{
                color: white;
                margin-right: 10px;
            }
            .title{
                color: orange;
            }
        }
        .secondTitle{
            font-size: 18px;
            color: #414141;
        }
        .shortLine{
            height: 3px;
            width: 40%;
            background-color: #414141;
        }
    }

    .rareTissuePar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
        .caption{
            font-size: 28px;
            font-weight: 600;
            color: #fff;
            z-index: 3;
        }
        .vid{
            width: 60vw;
            height: 60vh;
            margin-top: -20vh;
        }
    }
    .BMGalaxyPar{
        width: 50vw;
        height: 50vh;
        border: 5px dashed $prmCol;
        background-color: rgb(90,90,90,0.15);
        border-radius: 20px;
        margin: 20vh 12vw 0 auto;
        z-index: 2;
        .body{
            padding: 2vh;
            .caption{
                font-size: 40px;
                font-weight: 700;
                color: #fff;
                span{color: $prmCol;}
            }
            .subCaption{
                font-size: 24px;
                font-weight: 600;
                color: #fff;
                span{color: $prmCol;}
            }
            .videoPar{
                display: flex;
                flex-direction: row;
                justify-content: center;
                .vid{
                    border-radius: 45px;
                    //overflow: hidden;
                    //margin: 4vh -2vw 0 0 ;
                    margin: 4vh 0.5vw 0 0 ;
                    video{
                        width: 15vw;
                        height: 15vw;
                        border-radius: 45px;
                        //transform: rotate3d(1, -1, 0, 35deg);
                        object-fit: fill;
                    }
                }
            }
        }
    }
    .middleBanner{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: -10vh;
        //background-image: url('./static/images/Back2.jpg');
        .background{
            position: absolute;
            z-index: 0;
            top: 20vh;
            left:0;
            width: 100vw;
            height: 210vh;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .banner{
            border-radius: 15px;
            //border: 1px solid #fff;
            width: 25vw;
            height: 35vw;
            overflow: hidden;
            margin: -20vh 0 0 8vw;
            z-index: 5;
            //transform: rotate3d(1, 1, 0, 35deg) SkewX(20deg);
            //transform: rotateY(30deg) SkewX(20deg);
            img{
                width: 100%;
                height: 100%;
            }
        }
        .mesh{
            z-index: 3;
            width: 60vw;
            height: 60vh;
            margin-top: -35vh;
            opacity: 0.5;
        }
        .galaxy1{
            z-index: 2;
            margin-top: -26vh;
            margin-right: -20vw;
            margin-left: auto;
            width: 100vw;
            //background-blend-mode: lighten;
            //mix-blend-mode: darken;
        }
        .galaxyData1{
            color: #fff;
            width: 35vw;
            z-index: 4;
            position: absolute;
            top: 105vh;
            left: 5vw;
            background-color: #555;
            border: 2px solid #fff;
            border-radius: 15px;
            padding: 10px 15px;
            span{
                color: $prmCol;
            }
        }
        .galaxyData2{
            color: #fff;
            width: 35vw;
            z-index: 4;
            position: absolute;
            top: 140vh;
            right: 20vw;
            background-color: #555;
            border: 2px solid #fff;
            border-radius: 15px;
            padding: 10px 15px;
            span{
                color: $prmCol;
            }
        }
        .galaxyData3{
            color: #fff;
            width: 35vw;
            z-index: 4;
            position: absolute;
            top: 190vh;
            right: 5vw;
            background-color: #555;
            border: 2px solid #fff;
            border-radius: 15px;
            padding: 10px 15px;
            span{
                color: $prmCol;
            }
        }
        .galaxy2{
            z-index: 2;
            margin-top: -35vh;
            margin-right: auto;
            margin-left: -20vw;
            width: 85vw;
        }
        .line1{
            z-index: 3;
            img{
                position: absolute;
                top: 138vh;
                left: 20vw;
                width: 68vw;
                height: 55vh;
            }
        }
        .line2{
            z-index: 3;
            img{
                position: absolute;
                top: 100vh;
                left: 40.7vw;
                width: 30vw;
                height: 15vh;
            }
        }
        .line3{
            z-index: 3;
            img{
                position: absolute;
                top: 110vh;
                left: 41vw;
                width: 17vw;
                height: 32vh;
            }
        }
    }
    .fireDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        background: #000;
        .background{
            width: 100vw;
            height: 15vh;
            position: absolute;
            top: -2vh;
            left: 0;
            img{
                z-index: -1;
                width: 100%;
                height: 100%;
            }
        }
        .caption{
            z-index: 2;
            .cap1{
                font-size: 26px;
                color: #fff;
                span:nth-child(1){color: #ff4422;}
                span:nth-child(2){color: $prmCol;}
            }
            .cap2{
                margin-top: 3vh;
                font-size: 26px;
                color: #fff;
                span{color: $prmCol;}
            }
        }
        .data1{
            z-index: 3;
            color: #fff;
            width:50vw;
            text-align: justify;
            border: 4px solid #555;
            border-radius: 20px;
            margin-top: 25vh;
            .text{
                padding: 20px 40px;
            }
        }
        .banner{
            width: 100vw;
            height: 120vw;
            overflow: hidden;
            margin-top: -60vh;
            img{
                width: 100%;
                height: 100%;
                //object-fit: scale-down;
                //background-blend-mode: overlay;
                //mix-blend-mode: overlay;
            }
        }
        .data2{
            $offset: 20vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #fff;
            margin-top: -75vw+$offset;
            .cap1{
                font-size: 34px;
                font-weight: 700;
            }
            .cap2{
                font-size: 24px;
                font-weight: 600;
            }
            .cap3{
                margin-top: 2vh;
                font-size: 18px;
                font-weight: 500;
                background-color: #aa3311;
                padding: 3px 10px;
                border: 1px solid #d1431b;
                border-radius: 5px;
            }
            .cap4{
                margin-top: 20vh;
                font-size: 28px;
                font-weight: 600;
            }
            .cap5{
                font-size: 22px;
                font-weight: 500;
            }
            .cap6{
                margin-top: 26vw;
                font-size: 26px;
                font-weight: 600;
                margin-left: -5vw;
                span{color:#11aa33;}
            }
            .cap7{
                font-size: 22px;
                font-weight: 500;
                margin-left: 5vw;
                span{color: $prmCol;}
            }
        }
    }
    .megaCollections{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30vh;
        background-image: linear-gradient(135deg, rgb(26, 23, 23), rgb(96, 57, 77, 0.5), rgb(149, 0, 80, 0.2), rgb(58, 115, 133, 0.5), rgb(9, 39, 121, 0.8));
        .caption{
            color: #fff;
            text-align: left;
            .cap1{
                font-size: 30px;
                font-weight: 500;
                span{color: $prmCol;}
            }
            .cap2{
                font-size: 58px;
                font-weight: 700;
                span{color: $secCol;}
            }
        }
        .collection{
            width: 100vw;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;
            margin-top: 5vh;
            .picture{
                width: 45vw;
                height: 33vw;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .data{
                margin-top: -5vw;
                width: 35vw;
                color: #fff;
                border-left: 4px solid #aaa;
                padding-left: 10px;
                font-size: 18px;
            }
        }
        .bottomLine{
            margin-top: -5vw;
            width: 70vw;
            height: 3px;
            background-color: #333;
        }
        .collection2{
            width: 100vw;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            margin-right: -43vw;
            .data{
                color: #fff;
                .caption{
                    font-size: 42px;
                    font-weight: 800;
                    span{
                        color: $prmCol;
                        margin-right: 15px;
                    }
                    font-family: outrunLight;
                }
                .subCaption{
                    font-size: 24px;
                    font-weight: 500;
                    span{color:$prmCol;}
                    font-family: outrunLight;
                }
                .button{
                    color: #fff;
                    background-color: $prmCol;
                    width: 5vw;
                    text-align: center;
                    padding: 3px 5px;
                    border-radius: 5px;
                }
            }
        }
        .collection3{
            width: 110vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-left: -33vw;
            margin-top: -15vh;
            position: relative;
            .data{
                color: #fff;
                border-left: 4px solid #999;
                padding-left: 10px;
                margin-left: 15vw;
                font-size: 20px;
            }
            .exData{
                position: absolute;
                bottom: 5vh;
                right: 3vw;
                color: #fff;
                direction: rtl;
                .captionPar{
                    .caption{
                        font-size: 32px;
                    }
                }
                .button{
                    background-color: $prmCol;
                    width: 8vw;
                    text-align: center;
                    margin-top: 10px;
                    padding: 3px 5px;
                    border-radius: 10px;
                }
            }
        }
        
    }
    .bottomPar{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        .data{
            font-size: 18px;
            border-left: 3px solid #999;
            padding-left: 10px;
            width: 40vw;
        }
        .banner{
            width: 70vw;
            height: 12vw;
            margin-top: 15vh;
            border-radius: 15px;
            overflow: hidden;
            transform: perspective(800px);
            img{
                height: 100%;
                width: 100%;
                border-radius: 15px;
                //transform: rotate3d(4,0,0,40deg);
                
                
            }
        }
        .banner2{
            width: 60vw;
            margin-top: 5vh;
            border-radius: 15px;
            overflow: hidden;
            img{
                height: 100%;
                width: 100%;
                border-radius: 15px;
            }
        }
    }
    .upFooter{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 5vh 0;
        .footerCardPar{
            color: #fff;
            width: 15vw;
            border: 2px solid #fff;
            border-radius: 10px;
            margin: 0 0.2vw;
            .footerCard{
                padding: 15px 10px;
                .caption{
                    font-size: 18px;
                    font-weight: 600;
                }
                .text{
                    font-size: 13px;
                    font-weight: 400;
                }
            }
        }
    }
    .footerPar{
        background-color: #114463;
        color: #fff;
        margin-top: 4vh;
        .footer{
            padding: 5vh 5vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            .upperPar{
                .caption{
                    font-weight: 600;
                    span{color: $prmCol;}
                }
                .subCaption{
                    font-size: 12px;
                }
                .inpPar{
                    display: flex;
                    flex-direction: row;
                    height: 40px;
                    margin-top: 5px;
                    input{
                        width: 20vw;
                        margin-right: 10px;
                        border-radius: 10px;
                        padding-left: 20px;
                        border: none;
                    }
                    .button{
                        display: flex;
                        align-items: center;
                        background-color: #156597;
                        padding: 0 15px;
                        border-radius: 10px;
                    }
                }
            }
            .bottomPar{
                display: flex;
                flex-direction: row;
                margin-top: 5vh;
                //padding-top: 5vh;
                border-top: 1px solid #999;
                .left{
                    width: 30vw;
                    .logo{
                        img{
                            height: 40px;
                            width: 40px;
                        }
                    }
                    .logoName{
                        span{color:$prmCol;}
                    }
                }
                .right{
                    width: 30vw;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    .linksCol{
                        display: flex;
                        flex-direction: column;
                        font-size: 12px;
                        >div{
                            margin: 5px 0;
                        }
                        .cap{
                            font-weight: 600;
                            font-size: 15px;
                            margin-top: 5vh;
                            margin-bottom: 2vh;
                        }
                    }
                }
            }
            .linksPar{
                
                .caption{
                    font-size: 17px;
                    font-weight: 700;
                    text-align: left;
                    margin-right: auto;
                    width: 60vw;
                }
                .links{                    
                    display: flex;
                    flex-direction: row;
                    margin-top: 10px;
                    .link{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 3vw;
                        width: 3vw;
                        margin: 0 5px;
                        background-color: #4297cc;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}